body{
	background-color:rgb(251, 215, 158);
}
.logo{
	display: block;
	width:100vw;
	float:right;

}
.forth{
	width:100vw;
	clear:both;
}
.second{
	display:inline-block;
	margin-top:25vh;
	height:50vh;
}
.third{
	display:inline-block;
	width:50vw;
	height:50vh;
}